.ui.blackserve {
    width: 100%;
    background: #262730;
    padding: 50px 0;
    h3.header {
        color: #fff;
        font-size: 32px;
    }
    .sub_title {
        color: #fff;
        font-size: 16px;
    }
    .centent {
        margin-top: 20px;
        padding: 30px;
        display: flex;
        .image {
            width: 320px;
            img {
                width: 100%;
            }
        }
        .list-box {
            flex: 1;
            margin-left: 100px;
            color: #fff;
            .three-box {
                width: 100%;
                display: flex;
                .box {
                    text-align: right;
                    flex: 1;
                    p {
                        font-size: 40px;
                        margin: 0;
                        span {
                            font-size: 22px;
                        }
                    }
                    .sub {
                        color: #999;
                        font-size: 18px;
                        margin: 0;
                    }
                }
            }
            .three-list {
                margin-top: 20px;
                .box {
                    width: 100%;
                    margin: 10px auto;
                    background: #3c3d45;
                    padding: 30px;
                    border-radius: 5px;
                    .title {
                        font-size: 18px;
                    }
                    p {
                        font-size: 14px;
                        margin-top: 10px;
                        color: #999;
                    }
                }
            }
        }
    }
}