.ui.solution {
    width: 100%;
    background: url('../assets/images/l2_bg1.png') no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    h3.header {
        color: #fff;
        font-size: 32px;
    }
    .sub_title {
        color: #fff;
        font-size: 16px;
    }
    .ui.grid {
        margin-top: 80px;
        .column {
            text-align: center;
            i {
                color: rgba(255, 255, 255, 0.2);
                font-size: 160px;
                margin-bottom: 50px;
            }
            header {
                color: #fff;
                font-size: 20px;
            }
            p {
                color: #fff;
                margin-top: 10px;
                font-size: 14px;
                text-align: left;
            }
        }
    }
}