@import "navbar";
@import "banner";
@import "footer";
@import "cards";
@import "solution";
@import "blackserve";
@import "resume";
@import "stock";
@import "users";
* {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

html,
body {
    background: #f4f9fe;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.ui.button.blue {
    background: $ui-navbar-color !important;
}

#app .page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .pageCent {
        flex: 1;
    }
}

// servers
.ui.server {
    width: 100%;
    padding: 50px 0;
    .ui.container {
        >.header {
            font-size: 32px;
            text-align: left;
        }
        >.sub_header {
            font-size: 16px;
            text-align: left;
            margin-bottom: 50px;
        }
        .ui.grid {
            margin-bottom: 10px;
        }
    }
}

//map
.ui.map {
    width: 100%;
}