@import "navbar";
@import "banner";
@import "footer";
@import "cards";
@import "solution";
@import "blackserve";
@import "resume";
@import "stock";
@import "users";
* {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

html,
body {
    background: #f4f9fe;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.ui.button.blue {
    background: $ui-navbar-color !important;
}

#app .page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .pageCent {
        flex: 1;
    }
}

// servers
.ui.server {
    width: 100%;
    padding: 50px 0;
    .ui.container {
        > .header {
            font-size: 32px;
            text-align: left;
        }
        > .sub_header {
            font-size: 16px;
            text-align: left;
            margin-bottom: 50px;
        }
        .ui.grid {
            margin-bottom: 10px;
        }
    }
}

//map
.ui.map {
    width: 100%;
    background: #262730;
    padding: 50px 0;
    .main {
        display: flex;
        .img {
            flex: 1;
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
        .contet {
            color: #fff;
            width: 300px;
            padding-left: 20px;
            font-size: 20px;
            p {
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .ui.map {
        .container {
            .main {
                flex-direction: column;
                .contet {
                    padding-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
}
